/**
 * R/GRANDORDER CUSTOM CSS FOR REDDIT NEW LOOK
 * ===========================================
 *
 * This CSS bring back features found in the old custom CSS to the new look.
 * To work, she need to be loaded for all www.reddit.com/r/grandorder urls in your browser using an extension such as Stylus.
 * For more information and updates, please consult the project page: https://github.com/elnareen/rgrandorder-css/
 **/
 
/**
 * Remove superfluous empty line at the beginning of flairs.
 **/

div[style*="background-color:#EDEFF1;color:#1A1A1B"],
div[style*="background-color: rgb(237, 239, 241); color: rgb(26, 26, 27);"]{
    white-space: normal;
}

/** 
 * Add Voyager animated spire for unread messages notifications.
 **/

#change-username-tooltip-id button div span:before {
    position: fixed;
    padding: 0 0 0 0;
    bottom: 24px;
    z-index: 998;
    background-color: transparent;
    border-radius: 2px;
    color: #fff;
    width: 200px;
    height: 250px;
    left: 24px;
    content: " ";
    text-indent: 0px;
    font-size: 14px;
    font-family: arial, sans-serif;
    line-height: 1;
    /*-webkit-transform:translateY(400px);
    transform:translateY(400px);*/
    background: url("https://i.imgur.com/IWfTK9D.png") repeat 0 0;
    transition: background-color 0.25s ease, box-shadow 0.25s ease;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

/*a[href="/message/unread"]:hover:before,
#change-username-tooltip-id button div span:before {
background-color: transparent;
}

a[href="/message/unread"]:active:before,
#change-username-tooltip-id button div span:before {
background-color: transparent;
}*/

#change-username-tooltip-id button div span:before {
animation-name: toast;
animation-duration: 5s;
animation-iteration-count: 1;
animation-timing-function: ease;

-webkit-animation-name: toast;
-webkit-animation-duration: 5s;
-webkit-animation-iteration-count: 1;
-webkit-animation-timing-function: ease;
}

/*a[href="/message/unread"]:hover:before {
-webkit-animation-play-state: paused;
-moz-animation-play-state: paused;
-o-animation-play-state: paused;
animation-play-state: paused;
}*/

@-webkit-keyframes toast {
0%      {transform:translateY(76px);    -webkit-transform:translateY(76px); opacity: 0;}
20%     {transform:translateY(76px);    -webkit-transform:translateY(76px); opacity: 0;}
25% {transform:translateY(-8px);    -webkit-transform:translateY(-8px); opacity: 1;}
27% {transform:translateY(00px);    -webkit-transform:translateY(00px); opacity: 1;}
92% {transform:translateY(00px);    -webkit-transform:translateY(00px); opacity: 1;}
97% {transform:translateY(16px);    -webkit-transform:translateY(16px); opacity: 1;}
100%    {transform:translateY(76px);    -webkit-transform:translateY(76px); opacity: 0;}
}

@-o-keyframes toast {
0%      {transform:translateY(76px);    -webkit-transform:translateY(76px); opacity: 0;}
20%     {transform:translateY(76px);    -webkit-transform:translateY(76px); opacity: 0;}
25% {transform:translateY(-8px);    -webkit-transform:translateY(-8px); opacity: 1;}
27% {transform:translateY(00px);    -webkit-transform:translateY(00px); opacity: 1;}
92% {transform:translateY(00px);    -webkit-transform:translateY(00px); opacity: 1;}
97% {transform:translateY(16px);    -webkit-transform:translateY(16px); opacity: 1;}
100%    {transform:translateY(76px);    -webkit-transform:translateY(76px); opacity: 0;}
}


@-moz-keyframes toast {
0%      {transform:translateY(76px);    -webkit-transform:translateY(76px); opacity: 0;}
20%     {transform:translateY(76px);    -webkit-transform:translateY(76px); opacity: 0;}
25% {transform:translateY(-8px);    -webkit-transform:translateY(-8px); opacity: 1;}
27% {transform:translateY(00px);    -webkit-transform:translateY(00px); opacity: 1;}
92% {transform:translateY(00px);    -webkit-transform:translateY(00px); opacity: 1;}
97% {transform:translateY(16px);    -webkit-transform:translateY(16px); opacity: 1;}
100%    {transform:translateY(76px);    -webkit-transform:translateY(76px); opacity: 0;}
            }


@keyframes toast {
0%      {transform:translateY(76px);    -webkit-transform:translateY(76px); opacity: 0;}
20%     {transform:translateY(76px);    -webkit-transform:translateY(76px); opacity: 0;}
25% {transform:translateY(-8px);    -webkit-transform:translateY(-8px); opacity: 1;}
27% {transform:translateY(00px);    -webkit-transform:translateY(00px); opacity: 1;}
92% {transform:translateY(00px);    -webkit-transform:translateY(00px); opacity: 1;}
97% {transform:translateY(16px);    -webkit-transform:translateY(16px); opacity: 1;}
100%    {transform:translateY(76px);    -webkit-transform:translateY(76px); opacity: 0;}
}

/**
 * Add comment faces support back.
 **/

div[data-testid="comment"] a[href^="/"]:not([href^="/r/"]):not([href^="/u/"]):not([href="/s"]):not([href="/v"]):not([href^="/message"]):not(.noKeyNav),
div[data-test-id="post-content"] a[href^="/"]:not([href^="/r/"]):not([href^="/u/"]):not([href^="/user/"]):not([href="/s"]):not([href="/v"]):not([href^="/message"]):not(.noKeyNav),
a[href^="#"] {
 display:inline-block;
 position:relative;
 padding-top:2px;
 text-align:center;
 font-family:arial,sans-serif;
 font-size:18px;
 color:#fff!important;
 text-shadow:1px 1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000,1px 1px 1px #000,1px -1px 1px #000,-1px 1px 1px #000,-1px -1px 1px #000;
 cursor:default
}
div[data-testid="comment"] a[href^="/"]:not([href^="/r/"]):not([href^="/u/"]):not([href="/s"]):not([href="/v"]):not([href^="/message"])>strong,
div[data-testid="comment"] a[href^="#"]>strong,
div[data-test-id="post-content"] a[href^="#"]>strong{
 display:block;
 width:100%;
 position:absolute;
 bottom:4px;
 font-weight:400
}
div[data-testid="comment"] a[href^="#"],
div[data-test-id="post-content"] a[href^="#"],
.RichTextJSON-root a[href^="#"]{
 display:inline-block;
 width:150px;
 height:150px
}
a[href = "#GudakoBruh"],
a[href = "#GudakoDefault"],
a[href = "#GudakoSmile"],
a[href = "#GudakoSrs"],
a[href = "#GudakoSwoon"],
a[href = "#GudakoWiwi"],
a[href = "#GudakoWojak"],
a[href = "#GudaoBruh"],
a[href = "#GudaoDefault"],
a[href = "#GudaoSmile"],
a[href = "#GudaoSrs"],
a[href = "#GudaoSwoon"],
a[href = "#GudaoWiwi"],
a[href = "#GudaoWojak"]{
	background:url("//b.thumbs.redditmedia.com/N3jRTbUpIejTjfVYPKbQ00MLzezh9l5WO_WsdzSxvXE.png")no-repeat;
}
a[href = "#GudakoBruh"]{
    background-position: 0 0;
}
a[href = "#GudakoDefault"]{
    background-position: -150px 0;
}
a[href = "#GudakoSmile"]{
    background-position: -300px 0;
}
a[href = "#GudakoSrs"]{
    background-position: 0 -150px;
}
a[href = "#GudakoSwoon"]{
    background-position: -150px -150px;
}
a[href = "#GudakoWiwi"]{
    background-position: -300px -150px;
}
a[href = "#GudakoWojak"]{
    background-position: 0 -300px;
}
a[href = "#GudaoBruh"]{
    background-position: -150px -300px;
}
a[href = "#GudaoDefault"]{
    background-position: -300px -300px;
}
a[href = "#GudaoSmile"]{
    background-position: -450px 0;
}
a[href = "#GudaoSrs"]{
    background-position: -450px -150px;
}
a[href = "#GudaoSwoon"]{
    background-position: -450px -300px;
}
a[href = "#GudaoWiwi"]{
    background-position: 0 -450px;
}
a[href = "#GudaoWojak"]{
    background-position: -150px -450px;
}
a[href = "#DrakeTch"],
a[href = "#DubiousCreature"],
a[href = "#KEHAHA"],
a[href = "#KamaEvil"],
a[href = "#LartoriaHmm"],
a[href = "#Medjed"],
a[href = "#NemoProf"],
a[href = "#QuetzLucha"],
a[href = "#TheCoolerYorokobe"]{
	background:url("//b.thumbs.redditmedia.com/rJxQLWJaiWd-Iw6pzZIboyA4sJzM2OE-b-4u9hcLkoo.png")no-repeat;
}
a[href = "#DrakeTch"]{
    background-position: 0 0;
}
a[href = "#DubiousCreature"]{
    background-position: -150px 0;
}
a[href = "#KEHAHA"]{
    background-position: -300px 0;
}
a[href = "#KamaEvil"]{
    background-position: 0 -150px;
}
a[href = "#LartoriaHmm"]{
    background-position: -150px -150px;
}
a[href = "#Medjed"]{
    background-position: -300px -150px;
}
a[href = "#NemoProf"]{
    background-position: 0 -300px;
}
a[href = "#QuetzLucha"]{
    background-position: -150px -300px;
}
a[href = "#TheCoolerYorokobe"]{
    background-position: -300px -300px;
}
a[href = "#EmiyaSmile"],
a[href = "#EriceSmug"],
a[href = "#IllyaLewd"],
a[href = "#JeanneHappy"],
a[href = "#KoyanHunt"],
a[href = "#MHXXOuch"],
a[href = "#PercivalSmile"],
a[href = "#QSHWink"],
a[href = "#Seirious"],
a[href = "#SthenoScare"],
a[href = "#Yorokobe"]{
	background:url("//b.thumbs.redditmedia.com/FbgP9DjeMO_luvc9jttnxN_cHiJ8gUN6k7rIpJanhEc.png")no-repeat;
}
a[href = "#EmiyaSmile"]{
    background-position: 0 0;
}
a[href = "#EriceSmug"]{
    background-position: -150px 0;
}
a[href = "#IllyaLewd"]{
    background-position: -300px 0;
}
a[href = "#JeanneHappy"]{
    background-position: 0 -150px;
}
a[href = "#KoyanHunt"]{
    background-position: -150px -150px;
}
a[href = "#MHXXOuch"]{
    background-position: -300px -150px;
}
a[href = "#PercivalSmile"]{
    background-position: 0 -300px;
}
a[href = "#QSHWink"]{
    background-position: -150px -300px;
}
a[href = "#Seirious"]{
    background-position: -300px -300px;
}
a[href = "#SthenoScare"]{
    background-position: -450px 0;
}
a[href = "#Yorokobe"]{
    background-position: -450px -150px;
}
a[href = "#HokusaiAra"],
a[href = "#KoyanEhe"],
a[href = "#MeltSadist"],
a[href = "#NeroUmu"],
a[href = "#ParaSigh"],
a[href = "#ShebaStressed"],
a[href = "#SherlockRaise"],
a[href = "#TamamoAngry"],
a[href = "#TeachShock"],
a[href = "#TristanSweat"],
a[href = "#WaverUhm"]{
	background:url("//b.thumbs.redditmedia.com/V_rONSV4e3WgxdWJyaL6oqujRMSmC9brQal1fNBKSbk.png")no-repeat;
}
a[href = "#HokusaiAra"]{
    background-position: 0 0;
}
a[href = "#KoyanEhe"]{
    background-position: -150px 0;
}
a[href = "#MeltSadist"]{
    background-position: -300px 0;
}
a[href = "#NeroUmu"]{
    background-position: 0 -150px;
}
a[href = "#ParaSigh"]{
    background-position: -150px -150px;
}
a[href = "#ShebaStressed"]{
    background-position: -300px -150px;
}
a[href = "#SherlockRaise"]{
    background-position: 0 -300px;
}
a[href = "#TamamoAngry"]{
    background-position: -150px -300px;
}
a[href = "#TeachShock"]{
    background-position: -300px -300px;
}
a[href = "#TristanSweat"]{
    background-position: -450px 0;
}
a[href = "#WaverUhm"]{
    background-position: -450px -150px;
}
a[href = "#CasGilLaugh"],
a[href = "#CasGilSmug"],
a[href = "#DomanEvil"],
a[href = "#EuryaleShock"],
a[href = "#HydeAngry"],
a[href = "#KiaraJudging"],
a[href = "#MarieGasp"],
a[href = "#MoriartyEvil"],
a[href = "#RyoumaGuda"],
a[href = "#Snek"],
a[href = "#TomoeCry"]{
	background:url("//a.thumbs.redditmedia.com/lr_i7y2_pVpro3jqgmRy7VqrwL239WjnQa60h0t5gF8.png")no-repeat;
}
a[href = "#CasGilLaugh"]{
    background-position: 0 0;
}
a[href = "#CasGilSmug"]{
    background-position: -150px 0;
}
a[href = "#DomanEvil"]{
    background-position: -300px 0;
}
a[href = "#EuryaleShock"]{
    background-position: 0 -150px;
}
a[href = "#HydeAngry"]{
    background-position: -150px -150px;
}
a[href = "#KiaraJudging"]{
    background-position: -300px -150px;
}
a[href = "#MarieGasp"]{
    background-position: 0 -300px;
}
a[href = "#MoriartyEvil"]{
    background-position: -150px -300px;
}
a[href = "#RyoumaGuda"]{
    background-position: -300px -300px;
}
a[href = "#Snek"]{
    background-position: -450px 0;
}
a[href = "#TomoeCry"]{
    background-position: -450px -150px;
}
a[href = "#BaobhanWhat"],
a[href = "#BazettWorry"],
a[href = "#CirceReally"],
a[href = "#EreshHappy"],
a[href = "#IshtarBully"],
a[href = "#Koyantent"],
a[href = "#KoyoBlush"],
a[href = "#LakshmiWhat"],
a[href = "#LiveConstantineReaction"],
a[href = "#SalterWhat"],
a[href = "#TeachWhistle"]{
	background:url("//b.thumbs.redditmedia.com/4eEvtvNziJMfO3BCbGRXADLRgPkCaDLqjnDE0Q1CFBE.png")no-repeat;
}

a[href = "#BaobhanWhat"]{
    background-position: 0 0;
}
a[href = "#BazettWorry"]{
    background-position: -150px 0;
}
a[href = "#CirceReally"]{
    background-position: -300px 0;
}
a[href = "#EreshHappy"]{
    background-position: 0 -150px;
}
a[href = "#IshtarBully"]{
    background-position: -150px -150px;
}
a[href = "#Koyantent"]{
    background-position: -300px -150px;
}
a[href = "#KoyoBlush"]{
    background-position: 0 -300px;
}
a[href = "#LakshmiWhat"]{
    background-position: -150px -300px;
}
a[href = "#LiveConstantineReaction"]{
    background-position: -300px -300px;
}
a[href = "#SalterWhat"]{
    background-position: -450px 0;
}
a[href = "#TeachWhistle"]{
    background-position: -450px -150px;
}
a[href = "#AstolfoSweat"],
a[href = "#CastoREEa"],
a[href = "#Dokoda"],
a[href = "#EreshTsun"],
a[href = "#JasonShock"],
a[href = "#JiangSeeYa"],
a[href = "#LalterShout"],
a[href = "#MandricarBro"],
a[href = "#OryouSleep"],
a[href = "#SantaLilyCry"],
a[href = "#ZhangPathetic"]{
	background:url("//b.thumbs.redditmedia.com/4u3ueIfxZ9sdLCBAuUzqjPvq3BtWN_yvdC57OgOuKqU.png")no-repeat;
}
a[href = "#AstolfoSweat"]{
    background-position: 0 0;
}
a[href = "#CastoREEa"]{
    background-position: -150px 0;
}
a[href = "#Dokoda"]{
    background-position: -300px 0;
}
a[href = "#EreshTsun"]{
    background-position: 0 -150px;
}
a[href = "#JasonShock"]{
    background-position: -150px -150px;
}
a[href = "#JiangSeeYa"]{
    background-position: -300px -150px;
}
a[href = "#LalterShout"]{
    background-position: 0 -300px;
}
a[href = "#MandricarBro"]{
    background-position: -150px -300px;
}
a[href = "#OryouSleep"]{
    background-position: -300px -300px;
}
a[href = "#SantaLilyCry"]{
    background-position: -450px 0;
}
a[href = "#ZhangPathetic"]{
    background-position: -450px -150px;
}
a[href = "#BrynYandere"],
a[href = "#CarenSoUnisex"],
a[href = "#Goredolf"],
a[href = "#KarnaEye"],
a[href = "#MordredLol"],
a[href = "#MusashiEhe"],
a[href = "#NyalterWink"],
a[href = "#ReinesEvil"],
a[href = "#RomaRespect"],
a[href = "#SantaLilyLogical"],
a[href = "#ZhangWeep"]{
	background:url("//a.thumbs.redditmedia.com/EuCqK-l1NarEtCyTjqbs4h_fhulnO53ocV9XeJeqj-8.png")no-repeat;
}
a[href = "#BrynYandere"]{
    background-position: 0 0;
}
a[href = "#CarenSoUnisex"]{
    background-position: -150px 0;
}
a[href = "#Goredolf"]{
    background-position: -300px 0;
}
a[href = "#KarnaEye"]{
    background-position: 0 -150px;
}
a[href = "#MordredLol"]{
    background-position: -150px -150px;
}
a[href = "#MusashiEhe"]{
    background-position: -300px -150px;
}
a[href = "#NyalterWink"]{
    background-position: 0 -300px;
}
a[href = "#ReinesEvil"]{
    background-position: -150px -300px;
}
a[href = "#RomaRespect"]{
    background-position: -300px -300px;
}
a[href = "#SantaLilyLogical"]{
    background-position: -450px 0;
}
a[href = "#ZhangWeep"]{
    background-position: -450px -150px;
}
a[href = "#ArcYay"],
a[href = "#HogenDisgust"],
a[href = "#KintokiConfused"],
a[href = "#KintokiGoodBoy"],
a[href = "#KoyanSigh"],
a[href = "#KungFou"],
a[href = "#LizMad"],
a[href = "#MataOops"],
a[href = "#RanmaruChuuni"],
a[href = "#ShishouSigh"],
a[href = "#SionKek"]{
	background:url("//a.thumbs.redditmedia.com/0fqMD1XD3Hv53Wlf8YdEFDkkjAUD9Ea_HVkqTPzvL18.png")no-repeat;
}
a[href = "#ArcYay"]{
    background-position: 0 0;
}
a[href = "#HogenDisgust"]{
    background-position: -150px 0;
}
a[href = "#KintokiConfused"]{
    background-position: -300px 0;
}
a[href = "#KintokiGoodBoy"]{
    background-position: 0 -150px;
}
a[href = "#KoyanSigh"]{
    background-position: -150px -150px;
}
a[href = "#KungFou"]{
    background-position: -300px -150px;
}
a[href = "#LizMad"]{
    background-position: 0 -300px;
}
a[href = "#MataOops"]{
    background-position: -150px -300px;
}
a[href = "#RanmaruChuuni"]{
    background-position: -300px -300px;
}
a[href = "#ShishouSigh"]{
    background-position: -450px 0;
}
a[href = "#SionKek"]{
    background-position: -450px -150px;
}
a[href = "#AmakusaThief"],
a[href = "#ArcPout"],
a[href = "#CaenisAngry"],
a[href = "#CuGrin"],
a[href = "#GrayBlush"],
a[href = "#JalterSmirk"],
a[href = "#MashSmile"],
a[href = "#MashuSenpai"],
a[href = "#MeltFlustered"],
a[href = "#RobinSigh"],
a[href = "#ShutenTease"]{
	background:url("//b.thumbs.redditmedia.com/akoBskRw2vdf5E_lfm8fslXYUbB41NzIIxD93FiHbYw.png")no-repeat;
}
a[href = "#AmakusaThief"]{
    background-position: 0 0;
}
a[href = "#ArcPout"]{
    background-position: -150px 0;
}
a[href = "#CaenisAngry"]{
    background-position: -300px 0;
}
a[href = "#CuGrin"]{
    background-position: 0 -150px;
}
a[href = "#GrayBlush"]{
    background-position: -150px -150px;
}
a[href = "#JalterSmirk"]{
    background-position: -300px -150px;
}
a[href = "#MashSmile"]{
    background-position: 0 -300px;
}
a[href = "#MashuSenpai"]{
    background-position: -150px -300px;
}
a[href = "#MeltFlustered"]{
    background-position: -300px -300px;
}
a[href = "#RobinSigh"]{
    background-position: -450px 0;
}
a[href = "#ShutenTease"]{
    background-position: -450px -150px;
}
a[href = "#BBChannel"],
a[href = "#KiyoTrouble"],
a[href = "#MarthaOh"],
a[href = "#MerlinSmug"],
a[href = "#NobuGuda"],
a[href = "#RikyuJii"],
a[href = "#SHINSENGUMI"],
a[href = "#SitonaiSmug"],
a[href = "#TamaCatBlush"],
a[href = "#TlalocHeh"],
a[href = "#UshiHmph"]{
	background:url("//b.thumbs.redditmedia.com/UXKh8me_zPZdEFY3OivrlV3oB5EJrqIhpSNd9Fx47RU.png")no-repeat;
}
a[href = "#BBChannel"]{
    background-position: 0 0;
}
a[href = "#KiyoTrouble"]{
    background-position: -150px 0;
}
a[href = "#MarthaOh"]{
    background-position: -300px 0;
}
a[href = "#MerlinSmug"]{
    background-position: 0 -150px;
}
a[href = "#NobuGuda"]{
    background-position: -150px -150px;
}
a[href = "#RikyuJii"]{
    background-position: -300px -150px;
}
a[href = "#SHINSENGUMI"]{
    background-position: 0 -300px;
}
a[href = "#SitonaiSmug"]{
    background-position: -150px -300px;
}
a[href = "#TamaCatBlush"]{
    background-position: -300px -300px;
}
a[href = "#TlalocHeh"]{
    background-position: -450px 0;
}
a[href = "#UshiHmph"]{
    background-position: -450px -150px;
}
a[href = "#AshAngry"],
a[href = "#CarenTrust"],
a[href = "#GilSmug"],
a[href = "#GilWait"],
a[href = "#JustGawain"],
a[href = "#MeluScribble"],
a[href = "#MeluWhy"],
a[href = "#MoriartyCringe"],
a[href = "#ShikiSigh"],
a[href = "#TaigaStupid"],
a[href = "#TeslaSrsly"]{
	background:url("//b.thumbs.redditmedia.com/0XeEhsA1Pb9wOQUnBsbkkVmB1vSvR41u2dm3Xo64gpU.png")no-repeat;
}
a[href = "#AshAngry"]{
    background-position: 0 0;
}
a[href = "#CarenTrust"]{
    background-position: -150px 0;
}
a[href = "#GilSmug"]{
    background-position: -300px 0;
}
a[href = "#GilWait"]{
    background-position: 0 -150px;
}
a[href = "#JustGawain"]{
    background-position: -150px -150px;
}
a[href = "#MeluScribble"]{
    background-position: -300px -150px;
}
a[href = "#MeluWhy"]{
    background-position: 0 -300px;
}
a[href = "#MoriartyCringe"]{
    background-position: -150px -300px;
}
a[href = "#ShikiSigh"]{
    background-position: -300px -300px;
}
a[href = "#TaigaStupid"]{
    background-position: -450px 0;
}
a[href = "#TeslaSrsly"]{
    background-position: -450px -150px;
}
a[href = "#AsteriosGrin"],
a[href = "#BoudicaBlush"],
a[href = "#CastoriaFlustered"],
a[href = "#JeanneBlush"],
a[href = "#KoyanPout"],
a[href = "#LipCryBaby"],
a[href = "#MedusaAngry"],
a[href = "#MuramasaCharm"],
a[href = "#NeroBlush"],
a[href = "#PenthBerserk"],
a[href = "#SuzukaWhat"]{
	background:url("//b.thumbs.redditmedia.com/tGKc2hWPUrT90AYOrScr0XkEWGhIe78pRJD64OzGpRo.png")no-repeat;
}
a[href = "#AsteriosGrin"]{
    background-position: 0 0;
}
a[href = "#BoudicaBlush"]{
    background-position: -150px 0;
}
a[href = "#CastoriaFlustered"]{
    background-position: -300px 0;
}
a[href = "#JeanneBlush"]{
    background-position: 0 -150px;
}
a[href = "#KoyanPout"]{
    background-position: -150px -150px;
}
a[href = "#LipCryBaby"]{
    background-position: -300px -150px;
}
a[href = "#MedusaAngry"]{
    background-position: 0 -300px;
}
a[href = "#MuramasaCharm"]{
    background-position: -150px -300px;
}
a[href = "#NeroBlush"]{
    background-position: -300px -300px;
}
a[href = "#PenthBerserk"]{
    background-position: -450px 0;
}
a[href = "#SuzukaWhat"]{
    background-position: -450px -150px;
}
a[href = "#ArjunaKamiDa"],
a[href = "#ArthurCulture"],
a[href = "#BeoProud"],
a[href = "#BrynStress"],
a[href = "#DechiBruh"],
a[href = "#HansSmug"],
a[href = "#NeetBlush"],
a[href = "#RegendSigh"],
a[href = "#SemiScheme"],
a[href = "#VoyagerSmile"]{
	background:url("//b.thumbs.redditmedia.com/ku0vNqR-GHXQcZm-QE6CsrQgZbtMuFZA5y1C6ilFKnQ.png")no-repeat;
}
a[href = "#ArjunaKamiDa"]{
    background-position: 0 0;
}
a[href = "#ArthurCulture"]{
    background-position: -150px 0;
}
a[href = "#BeoProud"]{
    background-position: -300px 0;
}
a[href = "#BrynStress"]{
    background-position: 0 -150px;
}
a[href = "#DechiBruh"]{
    background-position: -150px -150px;
}
a[href = "#HansSmug"]{
    background-position: -300px -150px;
}
a[href = "#NeetBlush"]{
    background-position: 0 -300px;
}
a[href = "#RegendSigh"]{
    background-position: -150px -300px;
}
a[href = "#SemiScheme"]{
    background-position: -300px -300px;
}
a[href = "#VoyagerSmile"]{
    background-position: -450px -150px;
}
a[href = "#BediReally"],
a[href = "#COOL"],
a[href = "#IshtarWink"],
a[href = "#JalterWhat"],
a[href = "#MarieScheme"],
a[href = "#MiyuWhat"],
a[href = "#OkitaGuda"],
a[href = "#PeacePeace"],
a[href = "#SalieriDisgust"],
a[href = "#TamaCatSad"],
a[href = "#VoyagerDisappointed"]{
	background:url("//b.thumbs.redditmedia.com/F5kIrgY8r3DlLAvt1UjWMTHozZQLsRrMClR-MFJ-y3s.png")no-repeat;
}
a[href = "#BediReally"]{
    background-position: 0 0;
}
a[href = "#COOL"]{
    background-position: -150px 0;
}
a[href = "#IshtarWink"]{
    background-position: -300px 0;
}
a[href = "#JalterWhat"]{
    background-position: 0 -150px;
}
a[href = "#MarieScheme"]{
    background-position: -150px -150px;
}
a[href = "#MiyuWhat"]{
    background-position: -300px -150px;
}
a[href = "#OkitaGuda"]{
    background-position: 0 -300px;
}
a[href = "#PeacePeace"]{
    background-position: -150px -300px;
}
a[href = "#SalieriDisgust"]{
    background-position: -300px -300px;
}
a[href = "#TamaCatSad"]{
    background-position: -450px 0;
}
a[href = "#VoyagerDisappointed"]{
    background-position: -450px -150px;
}
a[href = "#BBScary"],
a[href = "#BrynBlush"],
a[href = "#DisgustDisgust"],
a[href = "#GarethWow"],
a[href = "#HectorHehe"],
a[href = "#KiyoHappy"],
a[href = "#MarthaOops"],
a[href = "#OkitaCough"],
a[href = "#Oppression"],
a[href = "#VinciGenius"],
a[href = "#XuFuGetUsedToIt"]{
	background:url("//b.thumbs.redditmedia.com/RF2wrCtdBtkqqQp5aw-gFmkKQRbH5COkclPp2ED4uNE.png")no-repeat;
}
a[href = "#BBScary"]{
    background-position: 0 0;
}
a[href = "#BrynBlush"]{
    background-position: -150px 0;
}
a[href = "#DisgustDisgust"]{
    background-position: -300px 0;
}
a[href = "#GarethWow"]{
    background-position: 0 -150px;
}
a[href = "#HectorHehe"]{
    background-position: -150px -150px;
}
a[href = "#KiyoHappy"]{
    background-position: -300px -150px;
}
a[href = "#MarthaOops"]{
    background-position: 0 -300px;
}
a[href = "#OkitaCough"]{
    background-position: -150px -300px;
}
a[href = "#Oppression"]{
    background-position: -300px -300px;
}
a[href = "#VinciGenius"]{
    background-position: -450px 0;
}
a[href = "#XuFuGetUsedToIt"]{
    background-position: -450px -150px;
}
a[href = "#BarghestPissed"],
a[href = "#EnkiduGlare"],
a[href = "#HansSoDone"],
a[href = "#KPPout"],
a[href = "#KagetoraCrazy"],
a[href = "#KoyanSrs"],
a[href = "#LancelotShock"],
a[href = "#ShikiMysticEyes"],
a[href = "#VinciOops"],
a[href = "#Wowager"],
a[href = "#XuFuNom"]{
	background:url("//b.thumbs.redditmedia.com/059VJShpKpkiPL8LoyN0DJ6yg9roLBBY5RyfoLMGr3o.png")no-repeat;
}
a[href = "#BarghestPissed"]{
    background-position: 0 0;
}
a[href = "#EnkiduGlare"]{
    background-position: -150px 0;
}
a[href = "#HansSoDone"]{
    background-position: -300px 0;
}
a[href = "#KPPout"]{
    background-position: 0 -150px;
}
a[href = "#KagetoraCrazy"]{
    background-position: -150px -150px;
}
a[href = "#KoyanSrs"]{
    background-position: -300px -150px;
}
a[href = "#LancelotShock"]{
    background-position: 0 -300px;
}
a[href = "#ShikiMysticEyes"]{
    background-position: -150px -300px;
}
a[href = "#VinciOops"]{
    background-position: -300px -300px;
}
a[href = "#Wowager"]{
    background-position: -450px 0;
}
a[href = "#XuFuNom"]{
    background-position: -450px -150px;
}
a[href = "#HabeShock"],
a[href = "#JalterDisgust"],
a[href = "#JalterWhatever"],
a[href = "#KPBadGirl"],
a[href = "#LilyHappy"],
a[href = "#MorganExasperated"],
a[href = "#NightingaleSigh"],
a[href = "#SaberBlush"],
a[href = "#SalterReally"],
a[href = "#SigurdMegane"],
a[href = "#VoyagerPout"]{
	background:url("//a.thumbs.redditmedia.com/egtLH8cfyl5ay5vPzWo9gbSpXjw-BOd3OldYZe3pcF8.png")no-repeat;
}
a[href = "#HabeShock"]{
    background-position: 0 0;
}
a[href = "#JalterDisgust"]{
    background-position: -150px 0;
}
a[href = "#JalterWhatever"]{
    background-position: -300px 0;
}
a[href = "#KPBadGirl"]{
    background-position: 0 -150px;
}
a[href = "#LilyHappy"]{
    background-position: -150px -150px;
}
a[href = "#MorganExasperated"]{
    background-position: -300px -150px;
}
a[href = "#NightingaleSigh"]{
    background-position: 0 -300px;
}
a[href = "#SaberBlush"]{
    background-position: -150px -300px;
}
a[href = "#SalterReally"]{
    background-position: -300px -300px;
}
a[href = "#SigurdMegane"]{
    background-position: -450px 0;
}
a[href = "#VoyagerPout"]{
    background-position: -450px -150px;
}
a[href = "#DracoHate"],
a[href = "#DuryoCringe"],
a[href = "#DracoUmu"],
a[href = "#JoanBlep"],
a[href = "#KoyanThirst"],
a[href = "#OberonWinku"],
a[href = "#SetantaSparkle"],
a[href = "#TiamatJudge"]{
    background:url("//a.thumbs.redditmedia.com/6soMQ_Vp6-_dQQy7woCesOD9u0nKjOwz7XUF2SAhwD8.png")no-repeat;
}
a[href = "#DracoHate"] {
    background-position: 0 0;
}
a[href = "#DracoUmu"] {
    background-position: -150px 0;
}
a[href = "#DuryoCringe"] {
    background-position: 0 -150px;
}
a[href = "#JoanBlep"] {
    background-position: -150px -150px;
}
a[href = "#KoyanThirst"] {
    background-position: -300px 0;
}
a[href = "#OberonWinku"] {
    background-position: -300px -150px;
}
a[href = "#SetantaSparkle"] {
    background-position: 0 -300px;
}
a[href = "#TiamatJudge"] {
    background-position: -150px -300px;
}
a[href = "#GachaDespair"],
a[href = "#OGHelena"],
a[href = "#Gendo"],
a[href = "#SadLion"],
a[href = "#BadSide"],
a[href = "#Gramps"],
a[href = "#KillMe"],
a[href = "#SmugLaugh"],
a[href = "#Thonk"],
a[href = "#TimeToDie"],
a[href = "#ViveLaFrance"],
a[href = "#WhaleTime"]{
	background:url("//b.thumbs.redditmedia.com/8in_Y6yHshwFklLGRQb5bieEkYa3p7CHRzPvRlyX4og.png")no-repeat;
}
a[href = "#GachaDespair"]{
	background-position: -1px -1px;
}
a[href = "#OGHelena"]{
	background-position: -153px -1px;
}
a[href = "#Gendo"]{
	background-position: -305px -1px;
}
a[href = "#SadLion"]{
	background-position: -1px -153px;
}
a[href = "#BadSide"]{
	background-position: -153px -153px;
}
a[href = "#Gramps"]{
	background-position: -305px -153px;
}
a[href = "#KillMe"]{
	background-position: -1px -305px;
}
a[href = "#SmugLaugh"]{
	background-position: -153px -305px;
}
a[href = "#Thonk"]{
	background-position: -305px -305px;
}
a[href = "#TimeToDie"]{
	background-position: -457px -1px;
}
a[href = "#ViveLaFrance"]{
	background-position: -457px -153px;
}
a[href = "#WhaleTime"]{
	background-position: -457px -305px;
}
